@import 'node_modules/bulma/bulma.sass';
@import 'node_modules/font-awesome/scss/_variables.scss';
@import 'node_modules/font-awesome/scss/_icons.scss';

li {
    list-style-type: none;
}

.field-required {
    color: $red;
}

.content table td.table-column {
    vertical-align: middle;
}

// make photo rounded
.photo { 
  height: 100%;
  max-width: 100%;
}
